html, body
{
  margin: 0;
  background-color: black;
  color: white;
  white-space: nowrap;
}

h1
{
  background-color: grey;
  margin: 0;
  padding: 6px 5px 3px 5px;
  font-size: 14px;
}

ul
{
  margin: 0;
  padding: 0;
}

ul li
{
  font-size: 22px;
  padding: 12px 0 12px 6px;
  list-style: none;
  border-top: 1px solid #444;
}

li span.description
{
  font-size: 14px;
  color: #bbb;
}

ul li a, ul li label
{
  display: block;
  margin: -12px 0 -12px -8px;
  padding: 12px 0 12px 8px;
}

ul li a
{
  text-decoration: none;
  color: inherit;
}

td, th
{
  font-size: 16px;
  white-space: nowrap;
}

.journey td
{
  font-size: 13px;
  color: lightgrey;
}

.journeyheader th, div.header
{
  font-weight: bold;
  font-size: 14px;
  background-color: #222;
  color: lightgrey;
  padding: 6px 5px 3px 5px;
}

table
{
  border-collapse: collapse;
}

tr.journey td
{
  border-top: 1pt solid #333;
  padding-top: 4px;
}

tr.movement td
{
  font-size: 13px;
  color: lightgrey;
  border-top: 1pt solid #333;
  padding-top: 3px;
  padding-bottom: 2px;
  height: 21px;
}

tr.movement:not(:first-child) td.station {
  border: 0;
}

tr.movement td.station {
  background-image: url(/images/tracks.png);
  background-repeat: no-repeat;
  width: 15px;
}

tr.movement td.station.O { background-position: 0 0; }
tr.movement td.station.S { background-position: 0 -27px; }
tr.movement td.station.T { background-position: 0 -54px; }
tr.movement td.station.D { background-position: 0 -81px; }

tr.movement td.time
{
  font-size: 18px;
  text-align: center;
}

tr.details td
{
  font-size: 18px;
  padding-bottom: 4px;
}

tr.details td.latest, th.latest
{
  font-size: 12px;
  color: grey;
}

.clickable
{
  cursor: pointer;
}

.debug
{
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  font-size: 8px;
}
