{% extends "base.html" %}

{% block title %}All Stations{% endblock %}
{% block h1 %}All Stations{% endblock %}

{% block extra_header %}
    <script type="text/javascript" src="/scripts/allstations.js"></script>
{% endblock %}

{% block content %}
    <ul>
      <li><a href="/">Done<br><span class="description">Return to your station list</span></a></li>
      <li><a href="/closest">Closest Train Station<br><span class="description">Bookmark this page to for the station <br>closest to your current location</span></a></li>
    </ul>
    <div class="header">Departure Station</div>
    <ul>
{% for station in stations %}      <li><label><input type="checkbox" {% if station.checked %}checked {% endif %}onchange="SaveFavorite(this);">{{ station.name }}</label></li>
{% endfor %}    </ul>
{% endblock %}
