<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Real Time Train Information{% endblock %}</title>
    <link href="/css/site.css" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="144x144" href="/images/android-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-144x144.png">
    <script type="text/javascript" src="/scripts/common.js"></script>
{% block extra_header %}{% endblock %}    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34278051-1']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body{% block body_tags %}{% endblock %}>
    <div class="debug">{{ debug }}</div>
    <h1>{% block h1 %}Real Time Train Information{% endblock %}</h1>
{% block content %}{% endblock %}  </body>
</html>
