{% extends "base.html" %}

{% block extra_header %}
    <script type="text/javascript">
      var stationLocations = [
{% for station in stations %}
        ['{{ station.StationDesc }}', {{ station.StationLatitude }}, {{ station.StationLongitude }}],
{% endfor %}
        ];
    </script>
    <script type="text/javascript" src="/scripts/closest.js"></script>
{% endblock %}

{% block body_tags %} onload="findClosestStation()"{% endblock %}

{% block content %}
    <div class=header>Closest station</div>
    <ul id="geoResult"><li>Waiting for page to load...</li></ul>
{% endblock %}
