{% extends "base.html" %}

{% block content %}
    <ul>
      <li><a href="/all">Choose Train Stations<br><span class="description">View all stations and choose your favorites</span></a></li>
    </ul>
    <div class="header">Departure Station</div>
    <ul>
      <li><a href="/closest">Closest Train Station</a></li>
{% for station in stations %}      <li><a href="s/{{ station|urlencode }}">{{ station }}</a></li>
{% endfor %}    </ul>
{% endblock %}
