{% extends "base.html" %}

{% block title %}{{ station }}{% endblock %}
{% block h1 %}{{ station }}{% endblock %}

{% block content %}    <table width="100%">
{% for service_schedule in schedule_by_service %}      <tbody>
        <tr class="journeyheader">
          <th align="left" colspan="4">Journey: {{ service_schedule.service }}</th>
        </tr>
      </tbody>
{% for schedule in service_schedule.schedule %}      <tbody class="clickable" onclick="t('{{ schedule.Traincode}}','{{ schedule.Traindate }}')">
        <tr class="journey">
          <td colspan="4">{{ schedule.journey }}</td>
        </tr>
        <tr class="details">
          <td class="latest">{{ schedule.latest_information }}</td>
          <td class=time>{{ schedule.sch }}</td>
          <td class=time>{{ schedule.eta }}</td>
          <td align=right>{{ schedule.due_in }}</td>
        </tr>
      </tbody>
{% endfor %}{% endfor %}    </table>
{% endblock %}
