{% extends "base.html" %}

{% block title %}{{ train }}{% endblock %}
{% block h1 %}{{ train }}{% endblock %}

{% block content %}
{% if stations %}
    <table width="100%">
      <thead>
      <tr class="journeyheader">
        <th align=left colspan=2>Station</th>
        <th>Arrive</th>
        <th>Depart</th>
      </tr><tbody>
{% for station in stations %}      <tr class="movement clickable" onclick="s('{{ station.station }}')">
        <td class="station {{ station.LocationType }}" bgcolor={{ station.bgcolor }}></td>
        <td>{{ station.station }}</td>
        <td class=time>{% if station.LocationType != 'O' %}{{ station.arrival }}{% endif %}</td>
        <td class=time>{% if station.LocationType != 'D' %}{{ station.departure }}{% endif %}</td>
      </tr>
{% endfor %}    </table>
{% endif %}
{% endblock %}
